<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>
    <div class="container">
      <app-dice-category title="Song Key" [maxroll]=12 [criteria]="key"></app-dice-category>
    </div>
    <div class="container">
      <app-dice-category title="Song Progression" [maxroll]=20 [criteria]="progression"></app-dice-category>
    </div>
    <div class="container">
      <app-tri-dice-prompt title="Emotion - Speed/Flow - Technique Focus"/>
    </div>
  </div>
  <p> Original idea/credit goes to <a href="https://www.instagram.com/joshuakirb_/" target="_blank" rel="noreferrer noopener">Joshua Kirb</a> </p>
</main>

<router-outlet />
