.container{
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    text-align:left;
    margin: 24px;
    border: solid,#ff8686, 16px;
    border-radius: 4px;
    background-color: #FFFAF5;
}